@font-face {
  font-family: "PT Sans";
  src: url("../../assets/fonts/PT-Sans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../assets/fonts/PT-Sans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../assets/fonts/PT-Sans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../assets/fonts/PT-Sans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PT Serif";
  src: url("../../assets/fonts/PT-Serif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT Serif";
  src: url("../../assets/fonts/PT-Serif-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PT Serif";
  src: url("../../assets/fonts/PT-Serif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT Serif";
  src: url("../../assets/fonts/PT-Serif-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Hasklig";
  src: url("../../assets/fonts/Hasklig-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
